*{
    margin: 0;
}

.input-line {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-top: 10px;
    padding-left: 47px;
}

.input-box {
    border-style: solid;
    border-color: orange;
    border-radius: 5px;
    border-width: 4px;
    width: 250px;
    height: 30px;
    margin-top: 8px;
    padding-left: 5px;
    background-color: white;
    color: black;
}
.stacked-radio-answer-list {
    display: inline;
    margin-top: 3px;
    line-height: 15px;
}
.transaction-radio-answer {
    font-size: 1.25rem;
}
input[type=submit] {
    background-color: orange;
    border-color: var(--keji-purple);
    border-width: 3px;
    border-radius: 15px;
    width: 125px;
    height: 45px;
    font-size: 1.5rem;
    margin: auto;
}
input[type=submit]:hover {
    background-color: darkorange;
    border-color: darkblue;
}