:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --keji-lavender: #b4a7d6ff;
  --keji-purple: #351c75ff;
  --keji-dark-purple: #1e0b4d;
  --primary-container-border_radius:25px;
  --primary-container-width: 550px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #f4f7fc;
}
::backdrop
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


button,
button[type=submit],
input[type=submit] {
  background-color: orange;
  color: black;
  border: solid;
  border-color: var(--keji-purple);
  border-width: 3px;
  border-radius: 15px;
  width: 300px;
  height: 45px;
  font-size: 1.5rem;
  margin: auto;
  font-weight: bold;
}
button:hover,
button[type=submit]:hover,
input[type=submit]:hover {
  background-color: darkorange;
  border-color: darkblue;
}


h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  place-self: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.primary-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: -96px;
  border-style: solid;
  border-color: orange;
  border-radius: var(--primary-container-border_radius);
  border-width: 4px;
  width: var(--primary-container-width);
  height: 500px;
  background-color: white;
}
.secondary-container {
  border-style: solid;
  border-color: orange;
  border-bottom-left-radius: var(--primary-container-border_radius);
  border-bottom-right-radius: var(--primary-container-border_radius);
  border-width: 4px;
  width: var(--primary-container-width);
  height: 409px;
  margin-left: -4px;
  margin-top: 0px;
  background-color: var(--keji-lavender);
}

.field-label {
  font-size: 2rem;
  margin-top: 10px;
  color: black;
}
.minor-field-label {
  font-size: 1.5rem;
  margin-top:auto;
  margin-bottom:auto;
  color: black;
}

.input-line {
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding-top: 10px;
  padding-left: 47px;
}

.input-box {
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  border-width: 4px;
  width: 245px;
  height: 30px;
  margin-top: 8px;
  padding-left: 10px;
  background-color: white;
  color: black;
}