*{
    margin: 0;
    --statement-container-width: 550px;
    --statement-container-border_radius: 25px;
    --keji-lavender: #b4a7d6ff;
    --keji-purple: #351c75ff;
}


.statement-container {
    border-style: solid;
    border-color: orange;
    border-radius: var(--statement-container-border_radius);
    border-width: 4px;
    display: block;
    width: var(--statement-container-width);
    height: 500px;
    background-color: white;
}
.statement-body {
    border-style: solid;
    border-color: orange;
    border-bottom-left-radius: var(--statement-container-border_radius);;
    border-bottom-right-radius: var(--statement-container-border_radius);;
    border-width: 4px;
    width: var(--statement-container-width);
    height: 409px;
    margin-left: -4px;
    margin-top: 0px;
    background-color: var(--keji-lavender);
}
#statement-body {
    font-size: 2rem;
    color: black
}
.statement-line {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-top: 10px;
    padding-left: 47px;
}
.activity-heading {
    display: flex;
    border-style: solid;
    border-color: orange;
    border-width: 4px;
    background-color: var(--keji-purple);
    width: var(--statement-container-width);
    height: 25px;
    margin-left: -4px;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
}
.activity-info{
    border-style: inherit;
    border-color: inherit;
    border-width: inherit;
    height: inherit;
    font-size: inherit;
    margin-top: -4px;
    margin-left: -4px;

}
#activity-date {
    width: 100px;
}
#activity-vendor {
    width: 125px;
}
#activity-description {
    width: 245px;
}
#activity-amount {
    width: 70px;
    margin-right: -4px
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
