*{
    margin: 0;
    --statement-container-width: 550px;
    --statement-container-border_radius: 25px;
}
#statement-body {
    font-size: 2rem;
    color: black
}
.statement-line {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-top: 10px;
    padding-left: 47px;
}
.activity-heading {
    display: flex;
    border-style: solid;
    border-color: orange;
    border-width: 4px;
    background-color: var(--keji-purple);
    width: var(--statement-container-width);
    height: 25px;
    color: white;
    font-size: 1rem;
}
.activity-background {
    display: flex;
    border-style: solid;
    border-color: orange;
    border-width: 4px;
    background-color: white;
    width: var(--statement-container-width);
    height: 25px;
    color: black;
    font-size: 1rem;
    margin-top:-4px;
}
.activity-info{
    border-style: inherit;
    border-color: inherit;
    border-width: inherit;
    height: inherit;
    font-size: inherit;
    margin-top: -4px;
    margin-left: -4px;
    text-align: center;
}
#activity-date {
    width: 100px;
}
#activity-vendor {
    width: 125px;
}
#activity-description {
    width: 245px;
}
#activity-amount {
    width: 70px;
    margin-right: -4px
}

ul {
    list-style-type: none;
}